*{
    margin:0;
    padding:0;
}
.para{
    background-color:aqua; 
}
.detail{
    background-color:aquamarine;
    font-style:italic ;
}

.name{
    text-align: left;
    background-color: brown;
    border-radius:20px;
    font-style: italic;
    color: azure;
}
h1{
    background-color: beige;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.gender{
    background-color: lightblue;
    border-radius:20px;
    font-style: italic;
}
.submit{
    border-radius:30px;
    color: blueviolet;
}

.row{
    background-color:burlywood;
}
td{
    background-color:lightgreen; 
}
fieldset{
    background-color: pink;
}